.background-img {
    background-image: url("https://previews.123rf.com/images/chagin/chagin1809/chagin180900009/107646733-young-female-doctor-on-modern-clinic-background-horizontal-image-for-website-design.jpg");
    background-repeat: no-repeat;
    filter: brightness(.9);
}